@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --secondary-color: #f77947;
    --bg-blue: #37418e;
    --bg-white: #fff;
    --bg-dark-blue: #292b70;
    --bg-gray: #ecf0f0;

    --text-black: #1f1f1f;
    --text-blue: #1f294c;
    --text-gray: #6d6e7b;
    --text-white: #fff;

    --primary-font: 'Open Sans Condensed', sans-serif;
    --secondary-font: 'Open Sans', sans-serif;
}

body {
    font-family: var(--secondary-font);
    background-image: url('../images/page-background.jpg'); 
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment: initial;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-gray);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

section {
    padding: 50px 0;
}

.main-btn {
    display: inline-block;
    border-radius: 26px;
    transition: .2s;
    padding: 10px 37px;
    background-color: var(--secondary-color) !important;
    color: var(--text-white);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

.main-btn:hover {
    background-color: var(--bg-blue) !important;
    color: var(--text-white);
}
 
h1 {
    font-size: 70px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom: 16px;
}

h2 {
    font-size: 45px;
    line-height: 64px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom: 15px;
}

h3 {
    font-size: 30px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom: 15px;
}

p {
    color: var(--text-gray);
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
}

input:hover,
input:focus,
textarea:focus,
textarea:hover,
button:hover,
button:focus {
    border-color: var(--secondary-color) !important;
    outline: none !important;
    box-shadow: none !important;
}

.header_wrapper .navbar {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;

}

.header_wrapper .navbar-brand img {
    max-width: 150px;
    height: auto;
}

.header_wrapper .navbar-toggler {
    border: 0;
}

.header_wrapper .navbar-toggler:focus {
    box-shadow: none;
}

.header_wrapper .nav-item {
 margin: 0 10px;
}

.header_wrapper .nav-item .nav-link {
    font-size: 17px;
    font-weight: 700;
    color: var(--text-blue);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

.header_wrapper .nav-item .nav-link.active {
    color: var(--secondary-color);
}
 
.header-scrolled {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: var(--bg-white);
    box-shadow: 0 4px 6px 0 rgba(13, 13, 14, 0.05);
}

.banner_wrapper {
    padding-top: 100px;
}
.services_wrapper h3 span {
  color: orange;
}
.services_wrapper .service_phone{
    max-width: 70%;
}
.blog_wrapper .newsletter {
  width: 50%;
  margin: auto;
}

.blog_wrapper .form-control {
  background-color: var(--bg-dark-blue);
  border-color: var(--bg-dark-blue);
  border-style: solid;
  border-radius: 26px;
  color: var(--text-white);
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  padding: 10px 32px;
}
.blog_wrapper input::placeholder {
  color: var(--text-white);
}

.navbar{
    background-color: gray;
}
.subscribe-section{
    background: var(--bg-blue);
    padding: 30px;
} 
.blog_wrapper a{
    color: var(--text-blue);
    text-decoration: none;
}
.blog_wrapper .date,
.blog_wrapper .card a:hover{
    color: var(--secondary-color);
}
.contact_wrapper input,
.contact_wrapper textarea {
    background-color: var(--bg-white);  
    border-color: var(--bg-gray);          
    border-radius: 15px;                  
    color: var(--text-gray);              
    font-size: 15px;                     
    font-weight: 400;                   
    padding: 15px 21px 32px 21px;         
}
.footer_wrapper a{
    color: var(--text-gray);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}
.footer_wrapper a:hover{
    color: var(--secondary-color);

}